body {
    background-color: #fff;
    margin: 0;
    padding: 20px; 
    font-family: Arial, sans-serif;
    overflow-x: hidden; 
}

.image-container {
    width: 100%;
    text-align: center;
    margin-bottom: 50px; 
}

.image-container img {
    width: 100%;
    height: auto;
}
.Some{
    color: aqua;
}
.map {
    transform: rotateY(15deg);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    height: 95%;
    width: 95%; 
    overflow: visible; 
}
.map2 {
    transform: rotateY(15deg);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    height: 450px;
    width: 600px; 
    overflow: visible; 
}
.page {
    background-color: #ffffe0;
    width: 360mm; 
    height: 297mm; 
    margin: 0 auto 20px; 
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.05);

}
.smoke-title {
    background: rgba(231, 222, 222, 0.8);
    border-radius: 25px;
    padding: 20px 40px;
    margin: 20px auto;
    max-width: 80%;
    text-align: center;
    font-size: 28px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
    color: #333;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10mm;
    margin-top: 10mm;
    font-family:Georgia, 'Times New Roman', Times, serif;


}
.subtitle {
    text-align: center;
    font-size: 18px;
    margin-top: 10mm;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;


    
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    
}


.overview {
    margin-bottom: 10mm;
    margin-top: 10mm;
    text-align: left;
    font-size: 14px;
    margin-left:5mm ;
    margin-right:5mm ;
    font-family: Georgia, 'Times New Roman', Times, serif





}
.line {
    transform: rotateY(15deg);
    padding-right: 20px;
    padding-left: 20px;
    padding-top:20px ;
    height: 400px; 
    width: 95%; 
    overflow: visible;
}
.aus-ind-bar {
    transform: rotateY(0deg);
    padding-right: 20px;
    padding-left: 20px;
    height: 400px;
    width: 95%;
    overflow: visible;
}
.highlight{
    color: #c21111;
}
.state-ind-bar {
    transform: rotateY(0deg);
    padding-right: 20px;
    padding-left: 20px;
    height: 400px; 
    width: 95%; 
    overflow: visible; 
}
.vic-ind-bar {
    transform: rotateY(0deg);
    padding-right: 20px;
    padding-left: 20px;
    height: 400px; 
    width: 95%; 
    overflow: visible; 
}
.Previous{
    color: "#fbfbf3";
}
.Next{
    color: "#fbfbf3";
    position: absolute;        
    top: 1300px;                
    right: 20px;
}
.footer {
    background: rgba(231, 222, 222, 0.8);
    border-radius: 25px;
    padding: 20px 40px;
    margin: 20px auto;
    max-width: 80%;
    text-align: center;
    font-size: 16px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
    color: #333;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.footer a {
    color: blue;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.vic-energy-donut{
    transform: rotateY(0deg);
    padding-right: 20px;
    padding-left: 40px;
    padding-top: 20px;
    height: 400px; 
    width: 95%; 
    overflow: visible; 
}
.vic-lands-donut{
    transform: rotateY(0deg);
    padding-right: 20px;
    padding-left: 40px;
    padding-top: 20px;
    height: 400px; 
    width: 95%; 
    overflow: visible; 
}
.box-plot {
    transform: rotateY(0deg);
    padding-top:30px ;
    padding-right: 20px;
    padding-left: 20px;
    height: 500px; 
    width: 600px; 
    overflow: visible; 
}
.book-page {
    display: flex;
    width: 95%; 
    height: 1500px; 
    background-color: #ffffe0; 
    margin: 20px auto; 
    perspective: 2000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.05);
}
.book-page1 {
    display: flex;
    width: 95%; 
    height: 1500px;
    background-color: #ffffe0; 
    margin: 20px auto; 
    perspective: 2000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.05);

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .switch-container {
        position: absolute;        
        top: 600px;                
        right: 20px;
        padding-bottom: 50px;               
        z-index: 10; 
  }
  .switch-container2 {
    position: absolute;        
    top: 500px;               
    z-index: 10;               
}
.left-page, .right-page {
    margin-top:15px;
    flex: 1;
    height: 95%;
    background-color: #ffffe0; 
    box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.15); 
}

.left-page {
    transform: rotateY(5deg);
    border-right: 1px solid #aaa; 
    background-color: #fbfbf3; 

}

.right-page {
    transform: rotateY(-5deg);
    border-left: 1px solid #aaa; 
    background-color: #fbfbf3; 
}
.left-page1, .right-page1 {
    margin-top:15px;
    flex: 1;
    height: 95%;
    background-color: #ffffe0; 
    box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.15); 
}

.left-page1 {
    transform: rotateY(5deg);
    border-right: 1px solid #aaa; 
    background-color: #fbfbf3; 

}

.right-page1 {
    transform: rotateY(-5deg);
    border-left: 1px solid #aaa; 
    background-color: #fbfbf3; 

}


